* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #061121;
    width: 1440px;
    height: auto;
    color: white;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    height: 70px;
    margin: 30px 0px 0px 0px ;
}
ul li{
    list-style: none;
}
header nav ul li {
    display: inline;
}
header a {
    color: #7c8189;
    text-decoration: none;
    margin: 25px;
}
#logo{
    font-family: 'Zen Dots', cursive;
    font-size: 40px;
    letter-spacing: 4px;
}
main{
    margin: 80px 0px 0px 340px;
    width: 800px;
}
.sec1{  
    display: flex;
}
.sec1 i{
    margin: 0px 20px 0px 130px;
}
.sec1 a{
    color: white;
    margin: 7px 0px 0px 0px;
}
.sec1 p{
    margin: 5px 0px 0px 150px;
    font-size: 20px;
}
.sec2{
    background-color: #1e375c;
    width: 550px;
    height: 530px;
    border-radius: 10px;
    margin: 15px 0px 0px 120px;
}
.sec2-1{
    text-align: center;
    padding: 40px 0px 0px 0px;
    font-size: 25px;
}
.sec2-2{
    background:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    width: 530px;
    height: 150px;
    margin: 60px 10px 0px 10px;
    border-radius: 10px;
    font-size: 20px; 
}
.sec2-2 h4{
    margin: 0px 0px 0px 30px;
    padding: 15px 0px 0px 10px;
}
.sec2-2 .span1{
   margin: 0px 10px 0px 180px;
}
#check{
    margin: 30px 10px 0px 20px;
}
.btn2{
    width: 470px;
    height: 40px;
    margin: 40px 0px 0px 30px ;
    background-color: blue;
    border-radius: 10px;
    font-size: 18px;


}
footer{
   background-color: #1e375c;
   margin: 50px 0px 0px 0px;
   width: 1487px;
   height: 250px;
   text-align: center;
}
.ftr1{
    padding: 40px 0px 0px 0px;
    word-spacing: 3px;
    font-size: 20px;
}
#email{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    margin: 20px 0px 0px 130px;
}
#btn1{
    width: 80px;
    height: 40px;
    border-radius: 19px;
    border-style: none;
    font-size: 18px;
    margin: 0px 0px 0px 40px;
}
.ftr2{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 70px;
}
.ftr2 a{
    margin: 10px;
    color: white;
}