* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: #061121;
    width: 1440px;
    height: auto;
    color: white;
}
/* header portion starts */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    height: 70px;
    padding-top: 30px;
}
header nav ul li {
    display: inline;
}
header ul li a {
    color: #7c8189;
    text-decoration: none;
    margin: 25px;
}
#logo{
    font-family: 'Zen Dots', cursive;
    font-size: 40px;
    letter-spacing: 4px;
}
/* dropdown portion starts */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #061121;
    width: 80px;
    padding: 20px 16px;
    z-index: 1;
    left: 15px;
  }
  
  .dropdown:hover .dropdown-content  {
    display: block;
  }

  .dropdown-content a {
    display: block;
    text-decoration: none;
    color: #7c8189;
    padding: 10px 0px;
  }
  /* header portion ends */
main{
    margin: 80px 0px 0px 340px;
    width: 800px;
}
.sec1{  
    display: flex;
}
.sec1 i{
    margin: 0px 20px 0px 130px;
}
.sec1 a{
    color: white;
    margin: 7px 0px 0px 0px;
}
.sec1 p{
    margin: 5px 0px 0px 150px;
    font-size: 20px;
}
.sec2{
    background-color: #1e375c;
    width: 550px;
    height: 530px;
    border-radius: 10px;
    margin: 15px 0px 0px 120px;
}
.sec2-1{
    text-align: center;
    padding: 40px 0px 0px 0px;
    font-size: 25px;
}
.sec2-2{
    background:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    width: 530px;
    height: 150px;
    margin: 60px 10px 0px 10px;
    border-radius: 10px;
    font-size: 20px; 
}
.sec2-2 h4{
    margin: 0px 0px 0px 30px;
    padding: 15px 0px 0px 10px;
}
.sec2-2 .span1{
   margin: 0px 10px 0px 180px;
}
#check{
    margin: 30px 10px 0px 20px;
}
.btn2{
    width: 470px;
    height: 40px;
    margin: 40px 0px 0px 30px ;
    background-color: blue;
    border-radius: 10px;
    font-size: 18px;


}
/* footer portion starts */
footer{
    background-color: #1e375c;
    width: 1487px;
    height: 270px;
    text-align: center;
    margin: 30px 0px 0px 0px;
 }
 .ftr1{
     padding: 40px 0px 0px 0px;
     word-spacing: 3px;
     font-size: 20px;
 }
 #email{
     width: 350px;
     height: 40px;
     border-radius: 20px;
     border-style: none;
     margin: 20px 10px 0px 0px;
     text-align: center;
    color: black;
    }
 #btn1{
     width: 80px;
     height: 40px;
     border-radius: 19px;
     border-style: none;
     background-color:#1098f7;
     font-size: 18px;
     text-transform: uppercase;
 }
 .ftr2{
     display: flex;
     justify-content: space-around;
     align-items: flex-end;
     height: 60px;
     margin-left: -100px;
}
.ftr2 i{
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: 25px;
}
/* footer portion ends */