* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #EDF3FD;
    /* width: 1440px; */
    height: 900px;
    display: flex;
    justify-content:space-between;
    background-image: url(../Images/1.png);
    background-position: 600%;
    background-repeat: no-repeat;
    overflow: hidden;
}
 
.register{
    padding: 100px;
}
a {
    text-decoration: none;
    color: black;

}
.head{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 10px;
}

.h2{
    margin: 20px 0px 30px 160px ;
}
label{
    margin: 0px 30px 0px 0px;
}

input{
    border-radius: 15px;
    color: gray;
    border-style: none;
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin: 10px 10px 10px 0px;  
     
}


button{
    margin: 20px 10px 10px 120px;
    border-radius: 15px;
    padding: 5px;
    width: 150px;
    height: 50px;
    border: none;
    background-color: blue;
    font-size: 18px;


}






















































/* .signup{
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin: 100px;
}
.sec-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.sec-1 a {
    text-decoration: none;
}
.sec1-1{
    font-size: 25px;
    color: gray;
}
.sec1-2{
    display: flex;
    font-size: 20px;
} */

/* .design .sec-1{
    background-color:blue;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    transform: rotate(10deg);
    overflow-x: hidden;
} */

